body {
  font-family: "Faculty Glyphic", serif;
  font-weight: 400;
  font-style: normal;
}
h2{
    font-weight: 50000;
}
.container {
  margin: 0 auto;
  width: 90%;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.text-center{
    text-align: center;
}
.column{
    background: rgb(228, 228, 228);
    color: #333;
    border: 1px solid #333;
    margin: 0 auto;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 10px 10px 10px rgb(83, 83, 83);
    width: 23%;
    box-sizing: border-box;
}
.precio{
    font-size: 50px;
    color: rgb(79, 161, 194);
}
.btn-precio{
    background: salmon;
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    margin-bottom: 10px;
   


}
.btn-precio:hover{
    background: red;
}
@media (max-width: 1070px){
.column{
    width: 45%;
    margin-bottom: 20px;

}
}
@media (max-width: 600px){
    .column{
        width: 100%;
        margin-bottom: 20px;
    
    }
    }
